.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
-------------------------------------------------------------------------------------------------
.card-img-top {
  border-radius: 50%;
}
.card {
  text-align: center;
  background-color: transparent;
}

.custom-header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #004eb4;
}

.nav-link {
  font-size: 1.1rem;
  padding: 10px 15px;
  color: #333;
}

.nav-link:hover {
  color: white;
  background-color: rgba(0, 68, 255, 0.589);
  border-radius: 5px;
}

.dark-mode .custom-header {
  background-color: #444;
  color: #fff;
}

.dark-mode .navbar-brand {
  color: #004eb4;
}

.dark-mode .nav-link {
  color: #ddd;
}

.dark-mode .nav-link:hover {
  color: #013cff;
  background-color: rgba(0, 153, 255, 0.589);
  border-radius: 5px;
}


.login-btn {
  background-color: #004eb4; 
  color: white; 
  border: none;
}

.login-btn:hover {
  background-color: #61b3ff; 
}

.login-form {
  position: absolute;
  top: 50px; 
  right: 20px; 
  background-color: #c6c7c8;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
